* {
  box-sizing: border-box;
  margin:0;
}

/* UNIVERSAL STYLING */
body {
  font-family:'dm-sans', 'sans-serif';
  background-color: #2f2a36;
  color:#F8E8CC;
}

#margin {
  max-width:60vw;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

#margin h2 {
  margin-bottom:.5rem;
}

ul {
  padding-left:1rem;
}

h1 {
  font-family: 'jkt', 'sans-serif';
  font-size: 3rem;
}

h2 {
  font-family: 'jkt', 'sans-serif';
  font-size: 2.5rem;
  justify-self: center;
}

h3 {
  font-family: 'jkt', sans-serif;
  font-size:2rem;
}

h4 {
  font-family: 'jkt', 'sans-serif';
  font-size:1.5rem;
}

p {
  font-family:'dm-sans', 'sans-serif';
  font-size:1.25rem;
  margin:0;
}

.button {
  text-decoration: none;
  background-color: #914E56;
  color:#F8E8CC;
  padding:1rem;
  border-radius: 2rem;
  max-width:fit-content;
  height:max-content;
  cursor:pointer;

  transition-duration: .5s;
}

.button:hover {
  background-color: #e6d389;
  color:#2f2a36;
}

.button:focus {
  outline:solid 2px #914E56;
  border-radius: .5rem;
}

.skills-grid, #academic-projects, #contact {
  margin-top:5rem;
}

/*INTRODUCTION AND ABOUT ME*/
#introduction-new {
  height:100vh;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-color: #2f2a36a1;
}

.header-span {
  display: flex;
}

.header-span {
  font-size:3rem;
  align-items: center;
}

.subheading-p {
  font-size: 2rem;
  font-weight: bold;
}

#introVideo {
  position:absolute;
  right:0;
  bottom:0;
  z-index:-1;
  justify-content: left;
}

@media (min-aspect-ratio: 16/9) {
  #introVideo {
    width:100vw;
    height:auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #introVideo {
    width:auto;
    height:100vh;
  }
}

#about-me {
  margin-bottom:2rem;
  background-color: #2f2a36;
}

#about-me h3 {
  margin-top:2rem;
}

/* ACADEMIC PROJECTS */

#academic-projects h2 {
  margin-bottom:1rem;
}

#academic-projects h3 {
  margin-top:.5rem;
}

#academic-projects img {
  width:100%;
  height:100%;
  aspect-ratio: 16/9;
}

#academic-projects ul {
  padding:0;
  margin:0;
}

.short-description {
  margin-bottom:1rem;
}

.program-used {
  font-weight: bold;
  margin-top:1rem;
  margin-bottom:0.5rem;
}

.project-categories {
  margin-bottom:2rem;
  margin-top:.5rem;
}

.project-categories p {
  background-color: transparent;
  color:#F8E8CC;
  padding-top:.5rem;
  padding-bottom:.5rem;
  padding-right:.5rem;
  border-radius: .2rem;
  margin-bottom:1rem;
}

#contact {
  width:100%;
  max-width:60vw;
  margin-bottom:4rem;
}

#contact h2 {
  margin-bottom:1rem;
}

#contact label {
  font-weight:bold;
  font-size:1rem;
  padding-bottom:1rem;
}

#contact input {
  display: block;
  background-color: transparent;
  outline: 1px solid #F8E8CC;
  color:#F8E8CC;
  border-radius:.5rem;
  font-size:1rem;
  width:80%;
  height: 2.5rem;
  max-width:80%;
  cursor:pointer;

  transition: .3s ease;
}

#contact input:hover {
 background-color: #F8E8CC;
 color:#2f2a36;
}

#contact input:focus {
  outline:3px solid #914E56;
  transform: translateY(3px);
}

#contact input::placeholder {
  color:#F8E8CC;
  padding-left:.5rem;
  opacity: .7;
  transition:.3s ease;
}

#contact input:hover::placeholder {
  color:#2f2a36;
  opacity: 1;
}

#contact input:hover::-moz-placeholder {
  color:#2f2a36;
  opacity: 1;
}

.my-contact-title {
  font-weight:bold;
}

.bold-text {
  font-weight:bold;
}

footer {
  background-color: #4d303f;
}

.quick-links a {
  text-decoration: none;
  color:#F8E8CC;
  transition:.5s ease;
}

.quick-links a:hover {
  color:#914E56;
}