* {
  box-sizing: border-box;
}

.margin {
  max-width:60vw;
  justify-self:center;
}

#project-header h1 {
  margin-top:2rem;
}

#project-header .subheading-p {
  font-size:1.5rem;
}

video {
  aspect-ratio: 16/9;
  width:60vw;
  height:auto;
  max-width:60vw;
  max-height:auto;
  margin-top:1.5rem;
  box-shadow: .5rem 1rem 2rem rgba(0,0,0,0.5);
}

.timeline-component video {
  border-radius: 0;
}

#project-page-details {
  display:grid;
  grid-template-columns: 1fr 2fr;
  width:40vw;
  max-width: 60vw;
  margin-top:2rem;
}

#project-page-details div {
  border:1px solid #F8E8CC;
  padding:.5rem;
}

a {
  text-decoration:none;
  color:#e6d389;
  font-size:1.25rem;
  transition-duration:.3s;
  border-bottom:2px solid transparent;
}

a:hover {
  color:#914E56;
}

a:focus, a:active {
  border-bottom: 2px solid #914E56;
}

#project-task-goals, #key-takeaways {
  width:45vw;
  max-width:60vw;
  justify-self: center;
  margin-top:2rem;
}

#project-task-goals.task p{
  justify-self: center;
  align-self: center;
}

.task, .goals, .my-imapct, #key-takeaways {
  margin-bottom:3rem;
}

#project-task-goals h2, #key-takeaways h2 {
  margin-bottom:.5rem;
}

#timeline {
  margin:0;
  max-width: 60vw;
  padding:1.5rem;
  display: grid;
  justify-self: center;
  grid-template-columns: 0.010fr 1fr;
}

.timeline-component {
  grid-column-start: 2;
  grid-column-end: 3;
  margin:0 1.25rem 1.25rem 1.25rem;

  padding:1.5rem;
  background: #914e564b;
  box-shadow: rgba(0,0,0,0.2);
  border-radius: 1rem;
}

.timeline-component video {
  width:40vw;
  max-width: 40vw;
  aspect-ratio:initial;

  margin-top:0;
  margin-bottom:2rem;
}

.timeline-component h3, .timeline-component p{
  margin-bottom:1rem;
}

.timeline-component h4 {
  margin-bottom:.5rem;
}

.timeline-component img {
  width:40vw;
  max-width:40vw;
  margin-bottom:1rem;
}

.timeline-line {
  position:relative;
  background: #F8E8CC;
}

.img-slider {
  position: relative;
  max-width: 30rem;
  aspect-ratio: 16/9;
}

.slide {
  position: absolute;
  inset:0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.img-slider ul {
  margin:0;
  padding:0;
  list-style: none;
}

.slide img {
  display:block;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity:1;
  z-index: 1;
  transition-delay: 0ms;
}

.slider-button {
  position: absolute;
  background:none;
  border:none;
  font-size:1.5rem;
  top:50%;
  z-index:2;
  transform:translateY(-50%);
  color:#914E56;
  border-radius: 20%;
  cursor:pointer;
  padding:0 .5rem;
  background-color: #2f2a3645;
}

.slider-button:hover, .slider-button:focus {
  color:#F8E8CC;
  background-color: #2f2a3683;
}

.slider-button:focus {
  outline: 3px solid #2f2a36;
}

.slider-button.prev {
  left:1rem;
}

.slider-button.next {
  right:1rem;
}

.timeline-point {
  position:absolute;
  top:0;
  left:50%;
  width:2rem;
  height:2rem;
  background: #F8E8CC;
  border-radius: 50%;
  transform:translateX(-50%);
  margin-bottom:3rem;
}

.tiles-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  width:30vw;
  max-width:30vw;
}

.tiles-grid img {
  width:100%;
}

.two-images-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:50vw;
  max-width:60vw;
  column-gap: 1rem;
}

.two-images-grid img  {
  width:100%;
  outline:2px solid #F8E8CC;
}

@media (width < 40.625rem) {
  .margin {
    max-width:80vw;
  }

  video {
    width:80vw;
    max-width:80vw;
  }

  .timeline-component video {
    width:100vw;
    max-width:60vw;
  }

  #project-page-details, #project-task-goals, #key-takeaways {
    width:80vw;
    max-width:80vw;
  }

  a {
    font-size:1rem;
  }
  
  #timeline {
    width:90vw;
    max-width: 90vw;
  }

  .timeline-component img {
    width:60vw;
    max-width:60vw;
  }

  .timeline-point {
    width:1rem;
    height:1rem;
  }

  .slider-container {
    max-width:20rem;
  }

  .tiles-grid {
    width:60vw;
    max-width:60vw;
  }

  .two-images-grid {
    grid-template-columns: 1fr;
    row-gap: .5rem;
  }
}